<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nous Contacter</title>
    <link rel="stylesheet" href="/assets/css/contact.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header>
      <nav>
        <div>
          <ul>
            <li><a href="/index.html">CONNEXION</a></li>
            <li><a href="/index.html">S'INSCRIRE</a></li>
            <li><a href="/index.html">Acceuil</a></li>
          </ul>
          <p>Nous Contacter</p>
          <a href="/index.html"
            ><img src="/assets/img/logo.jpg" alt="logo"
          /></a>
        </div>
      </nav>
    </header>
    <main>
      <section>
        <form action="">
          <ul>
            <li>
              <input type="text" name="" id="" placeholder="Nom" />
            </li>
            <li>
              <input type="text" name="" id="" placeholder="Prenom" />
            </li>
            <li>
              <input type="email" name="" id="e" placeholder="Email" />
            </li>
            <li>
              <input type="text" name="" id="" placeholder="Sujet" />
            </li>
            <li>
              <input type="text" name="" id="" placeholder="Message" />
            </li>
            <li>
              <input type="submit" value="Envoyer" />
            </li>
          </ul>
        </form>
      </section>
      <section>
        <h2>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione,
          consectetur.
        </h2>
      </section>
      <section>
        <p>Telephone : 01 23 45 67 89</p>
        <p>Email : nano@example.com</p>
        <p>Adresse : 10 Rue de Paris, 75000 Paris</p>
        <p>Horaires : 9h - 18h</p>
        <p>Rejoignez-nous sur les reseaux :</p>
        <p>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        </p>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
