<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../public/css/login.css">
    <link rel="stylesheet" href="../public/css/header.css">

</head>
<body>
    <header>
        <nav>
          <div>
            <ul class="header-text">
              <li><a href="../view/signin.html" class="text-decoration-none text-white">S'INSCRIRE</a></li>
              <li><a href="../view/contact.html" class="text-decoration-none text-white">Contactez-nous</a></li>
              <li><a href="../index.html" class="text-decoration-none">Acceuil</a></li>
            </ul>
            <p>Se Connecter</p>
            <a href="../index.html"
              ><img src="../public/img/logo.jpg" alt="logo"
            /></a>
          </div>
        </nav>
      </header>
    <main>
        <section class="login-form">
            <form>
                <div >
                  <label for="InputEmail" >Email</label>
                  <input type="email"  id="InputEmail"  required>
                </div>
                <div>
                  <label for="InputPassword" >Mot de passe</label>
                  <input type="password"  id="InputPassword" required>
                </div>
                <button type="submit">Envoyer</button>
              </form>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>