<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Inscription</title>
    <link rel="stylesheet" href="../public/css/sign-in.css">
    <link rel="stylesheet" href="../public/css/header.css">
</head>
<body>
  <header>
    <nav>
      <div>
        <ul class="header-text">
          <li><a href="../view/login.html" class="text-decoration-none text-white">SE CONNECTER</a></li>
          <li><a href="../view/contact.html" class="text-decoration-none text-white">Contactez-nous</a></li>
          <li><a href="../index.html" class="text-decoration-none">Acceuil</a></li>
        </ul>
        <p>Page Inscription</p>
        <a href="../index.html"
          ><img src="../public/img/logo.jpg" alt="logo"
        /></a>
      </div>
    </nav>
  </header>
    <section class="login-form">
        <form>
            <div >
              <label for="gender" >M.</label>
              <input type="radio"  name="gender"  required>
              <label for="gender" >Mme.</label>
              <input type="radio"  name="gender"  required>
            </div>
            <div >
              <label for="name" > Nom </label>
              <input type="text"  id="name"  required>
            </div>
            <div >
              <label for="surname" >Prenom</label>
              <input type="text"  id="surname"  required>
            </div>
            
            <div >
              <label for="email" >Email</label>
              <input type="email"  id="email"  required>
            </div>
            <div >
              <label for="password" >Mot de passe</label>
              <input type="password"  id="password"  required>
            </div>
            <div>
              <label for="confirmPassword" >Confirmer Votre Mot de passe</label>
              <input type="password"  id="confirmPassword" required>
            </div>
            <button type="submit">Envoyer</button>
          </form>
    </section>
</body>
</html>